Cython
setuptools
wheel
streamlit
pandas
numpy
scipy
statsmodels
matplotlib
scikit-learn
pmdarima @ https://github.com/maciejkula/pmdarima-prebuilt-wheel/releases/download/2.0.4/pmdarima-2.0.4-cp310-cp310-manylinux2014_x86_64.whl
